<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangcenet.tms.admin.dao.JobInfoDao">

    <resultMap id="JobInfo" type="com.kangcenet.tms.admin.core.model.JobInfo">
        <result column="id" property="id"/>
        <result column="jobGroup" property="job_group"/>
        <result column="jobCron" property="job_cron"/>
        <result column="jobDesc" property="job_desc"/>
        <result column="executorHandler" property="executor_handler"/>
        <result column="user" property="user"/>
        <result column="pwd" property="pwd"/>
        <result column="port" property="port"/>
        <result column="address" property="address"/>
        <result column="command" property="command"/>
    </resultMap>

    <insert id="save" parameterType="com.kangcenet.tms.admin.core.model.JobInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO job_qrtz_trigger_info (job_group,
                                           job_cron,
                                           job_desc,
                                           executor_handler,
                                           `user`,
                                           pwd,
                                           `port`,
                                           address,
                                           command)
        VALUES (#{jobGroup},
                #{jobCron},
                #{jobDesc},
                #{executorHandler},
                #{user},
                #{pwd},
                #{port},
                #{address},
                #{command});
    </insert>

    <select id="loadById" parameterType="java.util.HashMap" resultMap="JobInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM job_qrtz_trigger_info AS t
        WHERE t.id = #{id}
    </select>

    <sql id="Base_Column_List">
        t.id,
        t.job_group,
        t.job_cron,
        t.job_desc,
        t.user,
        t.pwd,
        t.port,
        t.executor_handler,
        t.address,
        t.author,
        t.command
    </sql>
</mapper>