<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangcenet.tms.admin.dao.JobInfoDao">

    <resultMap id="JobInfo" type="com.kangcenet.tms.admin.core.model.JobInfo">
        <result column="id" property="id"/>
        <result column="jobGroup" property="job_group"/>
        <result column="jobCron" property="job_cron"/>
        <result column="jobDesc" property="job_desc"/>
        <result column="executorHandler" property="executor_handler"/>
        <result column="user" property="user"/>
        <result column="pwd" property="pwd"/>
        <result column="port" property="port"/>
        <result column="address" property="address"/>
        <result column="command" property="command"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
        t.job_group,
        t.job_cron,
        t.job_desc,
        t.executor_handler,
        t.address,
        t.author,
        t.command
    </sql>

    <select id="pageList" parameterType="java.util.HashMap" resultMap="JobInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM job_qrtz_trigger_info AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="jobGroup != null and jobGroup != ''">
                AND t.job_group = #{jobGroup}
            </if>
            <if test="jobDesc != null and jobDesc != ''">
                AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
            </if>
            <if test="executorHandler != null and executorHandler != ''">
                AND t.executor_handler like CONCAT(CONCAT('%', #{executorHandler}), '%')
            </if>
        </trim>
        ORDER BY id DESC
        LIMIT ${(page-1)*limit}, ${limit}
    </select>

    <select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
        SELECT count(1)
        FROM job_qrtz_trigger_info AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="jobGroup != null and jobGroup != ''">
                AND t.job_group = #{jobGroup}
            </if>
            <if test="jobDesc != null and jobDesc != ''">
                AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
            </if>
            <if test="executorHandler != null and executorHandler != ''">
                AND t.executor_handler like CONCAT(CONCAT('%', #{executorHandler}), '%')
            </if>
        </trim>
    </select>


    <select id="loadById" parameterType="java.util.HashMap" resultMap="JobInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM job_qrtz_trigger_info AS t
        WHERE t.id = #{id}
        <trim>
            <if test="jobGroup != null and jobGroup != ''">
                AND t.job_group = #{jobGroup}
            </if>
        </trim>
    </select>

    <insert id="save" parameterType="com.kangcenet.tms.admin.core.model.JobInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO job_qrtz_trigger_info (job_group, job_cron, job_desc, executor_handler, address, command)
        VALUES (#{jobGroup}, #{jobCron}, #{jobDesc}, #{executorHandler}, #{address}, #{command});
    </insert>


    <update id="update" parameterType="com.kangcenet.tms.admin.core.model.JobInfo">
        UPDATE job_qrtz_trigger_info
        SET `job_group`        = #{jobGroup},
            `job_cron`         = #{jobCron},
            `job_desc`         = #{jobDesc},
            `address`          = #{address},
            `command`          = #{command},
            `executor_handler` = #{executorHandler}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.util.HashMap">
        DELETE
        FROM job_qrtz_trigger_info
        WHERE id = #{id}
        <trim>
            <if test="jobGroup != null and jobGroup != ''">
                AND job_group = #{jobGroup}
            </if>
        </trim>
    </delete>

    <select id="findAllCount" resultType="int">
        SELECT count(1)
        FROM job_qrtz_trigger_info
    </select>

</mapper>